<a href="https://colab.research.google.com/github/sdeva90/Python/blob/master/Colab/Practice%2BExercise%2B_%2BLooping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [ ]:
# prompt:

for i in range(-10,0):
  print(i)

### 2. Using while loop print numbers 1 to 10

In [ ]:
# prompt:

i = 1
while i <= 10:
  print(i)
  i += 1

### 3. Using for loop print first ten even numbers

In [ ]:
# prompt:

# ### 3. Using for loop print first ten even numbers
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

### 4. Using while loop generate the table of 5

In [ ]:
# prompt:

# ### 4. Using while loop generate the table of 5
i = 5
while i <= 50:
  print(i)
  i += 5

### 5. Using for loop generate the table of 8

In [ ]:
for i in range(0,81, 8):
  print(i)

0
8
16
24
32
40
48
56
64
72
80

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [ ]:
# prompt:

# ### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
# ### If a number is divisible by 5, then print Buzz.
# ### If a number is divisible by 3 and 5 both, then print FizzBuzz
# ### If a number is neither divisible by 3 or 5, just print the number.
#
# Hint: use range(1,101) function  to generate numbers from 1 to 100

for i in range(1,101):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [ ]:
# prompt:

# ### 7.  Using the range function find the sum of all numbers from 1 to 100.
#     For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050
sum = 0
for i in range(1,101):
  sum += i

print(sum)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [ ]:
for i in range(202, 321):
  if i % 7 == 0 and i%5 != 0:
    print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [ ]:
st = "Data Science"
re = 0
for i in st:
  if i in ('a','e', 'i', 'o', 'u'):
    re +=1
print(re)

5

### 10. Print Data Science 5 times using for loop

In [ ]:
st = "Data Science"
for i in range(0,5):
  print(st)

Data Science
Data Science
Data Science
Data Science
Data Science